*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: rgb(32, 32, 32);
  --base-color: 55, 122, 167;
  --light-accent-color: 114, 154, 181;
  --dark-accent-color: 38, 84, 115;
}

body {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

/* Layout - Mobile First*/

header {
  display: grid;
  grid: repeat(3, auto) 3em / 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 0.75em;
  grid-template-areas:
    "logo logo"
    "paws-search nav"
    "donate-button volunteer-button"
    " . .";
}

.logo {
  grid-area: logo;
  justify-self: center;
  margin-block: 2em;
  color: rgb(0, 0, 0);
}

.logo:visited {
  color: rgb(0, 0, 0);
}

.logo__txt {
  max-width: 45mm;
  margin: 0;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  text-align: center;
}

.paws-search {
  grid-area: paws-search;
  align-self: center;

  /* Display is flex on search form to put the input
  field and the icon next to each other */
  display: flex;
  margin-top: 0.1em;
}

.paws-search__inpt {
  min-width: 50px;
  max-width: 150px;

  /* This padding is specific to line up the search input with the search icon next to it */
  padding: 0.3125em;
  border: 2px solid rgb(var(--base-color));
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

.paws-search__inpt:focus + .paws-search__icn {
  background-color: rgb(var(--light-accent-color));
}

.paws-search__inpt:focus {
  border: 2px solid rgb(var(--light-accent-color));
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.paws-search__icn {
  align-self: center;
  padding: 0.375em;
  background-color: rgb(var(--base-color));
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgb(255, 255, 255);
}

.hamburger {
  grid-area: nav;
  justify-self: right;
  align-self: center;
  margin-bottom: 0.1em;
}

.btn {
  padding: 0.75em 1.75em;
  border-radius: 4px;
  border: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 375px) {
  .btn {
    max-width: 225px;
    padding: 1em 2.5em;
  }
}

.btn--donate {
  grid-area: donate-button;
  justify-self: left;
  background-color: rgb(var(--dark-accent-color));
  color: #fff;
}

.btn--volunteer {
  grid-area: volunteer-button;
  justify-self: left;
  background-color: rgb(var(--base-color));
  color: #fff;
}

.btn--donate:is(:hover, :focus, :active),
.btn--volunteer:is(:hover, :focus, :active) {
  background-color: rgb(var(--light-accent-color));
  color: rgb(0, 0, 0);
}

header,
main,
footer {
  margin-inline: 1.25em;
}

.slideshow__img {
  max-width: 100%;
}

.intro__p {
  text-align: center;
  margin: 1em auto;
  max-width: 250px;
  line-height: 1.5;
}

.quick-link {
  position: relative;
  margin-block: 1em;
}

.quick-link__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Altered image position to get view of the signature
   and also not too much hand. */
.quick-link__img--estate-planning {
  object-position: 65% 100%;
}

/* This pseudo-element creates the translucent blue
   bar at the bottom of each quicklink. By default
   the text is centered and white.*/
.quick-link::after {
  position: absolute;
  left: 0;
  bottom: 4px;
  right: 0;
  background-color: rgb(var(--base-color), 0.45);
  padding-block: 10px;
  color: rgb(255, 255, 255);
  /* transform: translateX(-50%); */
  text-align: center;
  white-space: nowrap;
}

/* With the modifier pseudo-elements, each quicklink
   then gets its custom text, and any overrides, color,
   etc., that are necessary. */
.quick-link--adopt::after {
  content: "Adopt a Pet";
}

.quick-link--SWAP::after {
  content: "Seniors With Animals Program";
}

.quick-link--TNR::after {
  content: "Feral Cat Resource";
}

.quick-link--take-action::after {
  content: "Take Action";
}

.quick-link--education::after {
  content: "Animal Welfare Education";
}

.quick-link--estate-planning::after {
  content: "Estate Planning";
  /* color: rgb(0, 0, 0); */
}

.footer-nav,
.social-media {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav {
  font-size: 0.875rem;
  margin-block: 2em;
}

.social-media {
  font-family: FontAwesome;
}

.footer-nav__li,
.social-media__li {
  margin-right: 1em;
}

.fa-facebook {
  font-size: 1.5rem;
  color: rgb(59, 89, 152);
}

.fa-instagram {
  padding: 0.1em;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 7px;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}

.social-media__li > a:visited {
  color: unset;
}

.copyright {
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (min-width: 565px) {
  header {
    display: grid;
    grid: 2em 2em 1fr 2.5em 3em / repeat(12, 1fr);
    row-gap: 1.5em;
    column-gap: 0.75em;
  }

  .logo {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
  }

  .paws-search {
    grid-row: 1 / 2;
    grid-column: 7 / 12;
    justify-self: right;
    margin-top: 2.25em;
  }

  /* Adjusted padding to realign input field and search
     icon */
  .paws-search__inpt {
    padding: 0.3em;
  }

  .hamburger {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    margin-top: 1.125em;
  }

  .btn--donate {
    grid-row: 4 / 5;
    grid-column: 3 / 6;
    justify-self: right;
  }

  .btn--volunteer {
    grid-row: 4 / 5;
    grid-column: 8 / 12;
    justify-self: left;
  }

  main {
    display: grid;
    grid: auto auto 1fr / repeat(12, 1fr);
  }

  .slideshow {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
  }

  .intro {
    grid-row: 2 / 3;
    grid-column: 3 / 11;
  }

  .quick-links {
    grid-row: 3 / 4;
    grid-column: 1 / 13;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(12, 1fr);
    column-gap: 1em;
  }

  .quick-link--adopt {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
  }

  .quick-link--SWAP {
    grid-row: 1 / 2;
    grid-column: 7 / 13;
  }

  .quick-link--TNR {
    grid-row: 2 / 3;
    grid-column: 1 / 7;
  }

  .quick-link--take-action {
    grid-row: 2 / 3;
    grid-column: 7 / 13;
  }

  .quick-link--education {
    grid-row: 3 / 4;
    grid-column: 1 / 7;
  }

  .quick-link--estate-planning {
    grid-row: 3 / 4;
    grid-column: 7 / 13;
  }
}

@media screen and (min-width: 675px) {
  .navigation {
    grid-row: 1 / 2;
    grid-column: 4 / 13;
    align-self: flex-end;
  }

  .paws-search {
    grid-row: 2 / 3;
    grid-column: 10 / 13;
    align-self: flex-start;
  }

  /* 'Support PAWS' main menu text was wrapping */
  .main-menu__text {
    white-space: nowrap;
  }
}
