*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: rgb(32, 32, 32);
  --base-color: 55, 122, 167;
  --light-accent-color: 114, 154, 181;
  --dark-accent-color: 38, 84, 115;
}

body {
  position: relative;
  background-color: #fff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

/* Layout - Mobile First*/

header {
  display: grid;
  grid: auto-flow / 0.5em 1fr 1fr 0.5em;
  row-gap: 1.5em;
  column-gap: 0.75em;
  grid-template-areas:
    ". logo logo ."
    ". paws-search nav ."
    ". donate-button volunteer-button .";
}

.logo {
  grid-area: logo;
  justify-self: center;
  margin-block: 2em;
}

.paws-search {
  grid-area: paws-search;
  align-self: center;
  display: flex;
  margin-top: 0.1em;
}

.paws-search__inpt {
  min-width: 50px;
  max-width: 150px;
  padding: 0.3125em;
  border: 2px solid rgb(var(--base-color));
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

.paws-search__inpt:focus + .paws-search__icn {
  background-color: rgb(var(--light-accent-color));
}

.paws-search__inpt:focus {
  border: 2px solid rgb(var(--light-accent-color));
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.paws-search__icn {
  align-self: center;
  display: inline-block;
  padding: 0.375em;
  background-color: rgb(var(--base-color));
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgb(255, 255, 255);
}

.hamburger {
  grid-area: nav;
  justify-self: right;
  align-self: center;
  margin-bottom: 0.1em;
}

.btn {
  padding: 1em 2.5em;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.btn--donate {
  grid-area: donate-button;
  background-color: rgb(var(--dark-accent-color));
  color: #fff;
}

.btn--volunteer {
  grid-area: volunteer-button;
  background-color: rgb(var(--base-color));
  color: #fff;
}

.btn--donate:is(:hover, :focus, :active),
.btn--volunteer:is(:hover, :focus, :active) {
  background-color: rgb(var(--light-accent-color));
  color: rgb(0, 0, 0);
}

main,
footer {
  margin-inline: 1.25em;
}

h1 {
  text-align: center;
  margin-top: 1.25em;
}

.slideshow__img {
  max-width: 100%;
}

.intro__p {
  text-align: center;
  margin: 1em auto;
  max-width: 250px;
  line-height: 1.5;
}

.quick-link {
  position: relative;
  margin-block: 1em;
}

.quick-link__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.quick-link__img--estate-planning {
  object-position: 65% 100%;
}

/* This pseudo-element creates the translucent blue
   bar at the bottom of each quicklink. By default
   the text is centered and white.*/
.quick-link::after {
  position: absolute;
  left: 0;
  bottom: 4px;
  right: 0;
  background-color: rgb(var(--base-color), 0.45);
  padding-block: 10px;
  color: rgb(255, 255, 255);
  /* transform: translateX(-50%); */
  text-align: center;
  white-space: nowrap;
}

/* With the modifier pseudo-elements, each quicklink
   then gets its custom text, and any overrides, color,
   etc., that are necessary. */
.quick-link--adopt::after {
  content: "Adopt a Pet";
}

.quick-link--SWAP::after {
  content: "Seniors With Animals Program";
}

.quick-link--TNR::after {
  content: "Feral Cat Resource";
}

.quick-link--take-action::after {
  content: "Take Action";
}

.quick-link--education::after {
  content: "Animal Welfare Education";
}

.quick-link--estate-planning::after {
  content: "Estate Planning";
  /* color: rgb(0, 0, 0); */
}

.footer-nav,
.social-media {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav {
  font-size: 0.875rem;
  margin-block: 2em;
}

.social-media {
  font-family: FontAwesome;
}

.footer-nav__li,
.social-media__li {
  margin-right: 1em;
}

.fa-facebook {
  font-size: 1.5rem;
  color: rgb(59, 89, 152);
}

.fa-instagram {
  padding: 0.1em;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 7px;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}

.social-media__li > a:visited {
  color: unset;
}

.copyright {
  text-align: center;
  font-size: 0.75rem;
}
