/* Stylesheet for announcements.html */

.announcements-list {
  list-style: none;
}

.announcements-list__list-item {
  position: relative;
  padding: 0.5em 0;
}

.announcements-list__list-item::before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: -1em;
  border: 0.2em solid transparent;
  border-left: 0.5em solid rgb(var(--base-color));
}
