/* Stylesheet for support.html */

.support-list {
  list-style: none;
}

.support-list__list-item {
  position: relative;
  padding: 0.5em 0;
}

.support-list__list-item::before {
  content: "";
  position: absolute;
  top: 1em;
  left: -1em;
  border: 0.2em solid transparent;
  border-left: 0.5em solid rgb(var(--base-color));
}
